.Accordion {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
}

.Accordion-title {
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid rgb(182, 193, 193);
}

.Accordion-section {
  background-color: rgb(247, 236, 225);
  padding: 0 24px 0 24px;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.Accordion-section-unfolded {
  max-height: 500px;
}
